#survey-form{
  text-align: center;
  
}
#dropdown{
  margin-top: 10px;
  height: 30px;
  width: 400px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 4px;
  font-family: arial;
  color: white;
  outline: none;
  cursor: pointer;
  background-color: rgb(56, 13, 13);
}

#dropdown:hover{
  background-color: rgb(76, 13, 13)
}
.radio-group-1{
  
}